__pycache__/
optimal_time_windows/
data/
figures/
histograms/
histograms_window_finding/
histograms_finite_size_testing/
data_T_200/
figures_T_200/
histograms_T_200/
data_T_400/
figures_T_400/
histograms_T_400/
data_reintroduce_dt/
figures_reintroduce_dt/
histograms_reintroduce_dt/
data_phase_diagram_1/
figures_phase_diagram_1/
histograms_phase_diagram_1/
data_phase_diagram_5/
figures_phase_diagram_5/
histograms_phase_diagram_5/
data_phase_diagram_25/
figures_phase_diagram_25/
histograms_phase_diagram_25/